name: Publish to crates.io

on:
  workflow_dispatch:
    inputs:
      crate:
        description: 'Which crate to publish'
        required: true
        type: choice
        options:
          - aggregator
          - circuits
          - curves
          - proofs
          - zkir
          - zk_stdlib

jobs:
  publish:
    runs-on: ubuntu-latest
    environment: release
    permissions:
      id-token: write

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
      - uses: rust-lang/crates-io-auth-action@v1
        id: auth

      - run: cargo publish
        working-directory: ${{ inputs.crate }}
        env:
          CARGO_REGISTRY_TOKEN: ${{ steps.auth.outputs.token }}